.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    
  }
  
  h1 {
    font-size: 3em;
    margin-top: 0;
  }
  
  input {
    font-size: 1.2em;
    padding: 5px;
  }
  
  button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin-top: 10px;
  }
  #score-container{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;

  }
  
  #score {
    font-size: 2em;
    margin-top: 20px;
  }
  
  #highScores {
    text-align: left;
    font-size: 1.2em;
  }
  
  #highScores li {
    margin-bottom: 5px;
  }
  